* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: chocolate;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(138, 169, 55);
}
#page2 img{
    height: 100%;
    width: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(94, 132, 141);
}